@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

*{
  font-family: 'IBM Plex Sans', sans-serif;
  outline: none;
}

body{
  margin:0;
  background-color: rgb(255, 255, 255)
}

/* Header */

header{
  display: flex;
  margin-bottom: 30px;
  padding: 20px;
  align-items: center;
}


img{
  width: 180px;
  height:122px;
  margin-right: 20px;
}

h1{
  color: grey;
  width: 70%;
  text-align: center;
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Filters */

.filter-panel{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around ;
  width: 60%;
}

.search-input{
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Loader */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* Users */

.users-wrapper{
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user-container{
  border-radius: 10px;
  margin-bottom: 20px;
  padding:10px 0px 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 50%;
}